.colorBody{
  background-color:#464646 ;
}
.color{
  background-color: #F14902;
}

main{ 
  margin-top: 140px ; 
  text-align: center;
}

#h3Logo{
  color: white;
  font-size: 30px;
  margin-bottom: 100px;
}

.fonteRedonda{
  color: white;
}

.imgRedonda{
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius:50%;
}
 
.carousel{
  padding-top: 100px;
  width: 100%;
}

.form{
  width: 100%;
  
}

.formulario{
  padding-bottom: 50px;
}

.container { 
  width: 700px; 
  margin-left: auto;
  margin-right: auto; 
  color: white;
}

.fixarRodape {
  bottom: 0;
  position: relative;
  width: 100%;
  text-align: center;
}

.divPerguntas{
  width: 900px; 
  margin-left: auto;
  margin-right: auto; 
  color: white;

}

.botaoPerguntas{
  margin-bottom: 30px;
}

.perguntas{
  margin: 50px;
}

.mensagemFinal{
  width: 700px; 
  margin-left: auto;
  margin-right: auto; 
}

.h4Perguntas{
  margin: 30px;
}